@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgray;
    font-size: 1em;
    line-height: 1.5em;
    
}

p{
    margin-bottom: 10px;
    text-align: justify;
}

h1, h2{
    margin-bottom: 20px;
    text-align: center;
    line-height: 1.2em;
}

header, section.normal{
    padding: 20px;

}


section.flex-content{
    background-color: rgba(255, 0, 0, 0.418);
    padding: 20px;

    display: flex;
    flex-flow: column nowrap;
    
}



article.text-media{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

article.media-text{
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: space-between;
}
article > div.text{
    flex: 1 1 500px;

    
}

article > div.media{
    flex: 1 0 500px;

    
    
}

div.media img{
    display: block;
    margin: auto;
    width: 400px;
    padding: 5px;
}

div.media > iframe{
    display: block;
    margin: auto;
    width: 400px;
}

